@font-face {
    font-family: "Tropical Ground";
    src: url(assets/fonts/tropicgroundpersonaluseonly-rvvll.ttf);
}

@font-face {
    font-family: "Product Sans";
    src: url(assets/fonts/ProductSansRegular.ttf);
}

body {
    margin-top: 150px;
    background-image: url(assets/images/mangoes_background.jpg);
    font-family: "Product Sans";
    color: #136D61;
    text-align: justify;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #8fdbd1;
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    font-family: "Tropical Ground";
    font-size: 30px;
    font-weight : bolder
}

#rules {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #f7ae8a;
    opacity: 0.9;
    border-radius: 10px;
    color: #136D61;
}

#game {
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: #f0cf4d;
    opacity: 0.9;
    border-radius: 10px;
}

#playerTurn {
    font-weight: bold;
}

#numberRemoved {
    background-color: #8fdbd1;
    font-family: "Product Sans";
    color: #0d5148;
    font-size: 16px;
}

select option {
    font-family: "Helvetica";
    color: #0d5148;
    font-size: 16px;
}