@font-face {
    font-family: "Tropical Ground";
    src: url(assets/fonts/tropicgroundpersonaluseonly-rvvll.ttf);
}

@font-face {
    font-family: "SF pro display";
    src: url(assets/fonts/SFPRODISPLAYREGULAR.OTF);
}

body {
    background-image: url(assets/images/background_image.jpg);
    font-family: "SF pro display";
    color: #4C7107;
    text-align: justify;
}

h1 {
    background-color: #F9BE03;
    opacity: 0.9;
    border-radius: 10px;
    font-family: "Tropical Ground";
    font-size: xx-large;
    font-weight: bold
}

h3 {
    margin-right: 1430px;
    background-color: #F9BE03;
    opacity: 0.9;
    border-radius: 10px;
    font-weight: bold;
}

ul {
    margin-right: 800px;
    background-color: #4C7107;
    opacity: 0.9;
    border-radius: 10px;
    color: #F9BE03;
}

#currentRound {
    margin-right: 1350px;
    background-color: #F9BE03;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;
}


label[for="numberRemoved"] {
    background-color: #FF5B52;
    color: #3a5509;
    font-size: 16px;
    font-weight: bold;
}

#numberRemoved {
    background-color: #F9BE03;
    font-family: "SF pro display";
    color: #3a5509;
    font-weight: bold;
}

select option {
    font-family: Helvetica;
    color: #3a5509;
    font-size: 14px;
    font-weight: bold;
  }

#remainingMangoes {
    margin-right: 1350px;
    background-color: #F9BE03;
    opacity: 0.9;
    border-radius: 5px;
    font-weight: bold;
}